body, html {
	display: grid;
	height: 99%;
	width: 99%;
	font-size: 40px;
	font-weight: bold;
	font-family: "Roboto Mono", monospace;
	background-color: #111;
	color: lightgray;
}

#description {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 0.4em;
	text-align: left;
	border: none;
	color: #444;
	margin-top: 200px;
	margin-left: 20px;
	font-weight: 350;
}

#description p {
	margin-top: 15px;
	margin-bottom: 15px;
}

p#title {
	font-size: 1.5em;
}

#main {
	margin: auto;
	margin-top: 50px;
	height: 85%;
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	border: none;
}

#calcFrame {
	margin-left: 100px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:active {
	background-color: white;
	color: black;
}

.button:hover {
	cursor: pointer;
}

div { 
	border: 2px solid #333;
	text-align: center;
	user-select: none;
}

.oper { background-color: #704614; }

.num { background-color: #171717; }

#display { 
	grid-area: display;
	position: relative;
	text-align: center;	
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	font-size: 70px;
	background-color: #090909;
}

#backspace {
	margin-top: 40px;
	margin-left: 20px;
	font-family: Arial;
	font-size: 2.5em;
	border: none;
}

#backspace:active {
	background-color: #111;
	color: white;
}

#nine { grid-area: nine; }
#eight{ grid-area: eight; }
#seven{ grid-area: seven; }
#six{ grid-area: six; }
#five{ grid-area: five; }
#four{ grid-area: four; }
#three{ grid-area: three; }
#two{ grid-area: two; }
#one{ grid-area: one; }
#zero{ grid-area: zero; }

#decimal {grid-area: decimal; background-color: #171717; }

#add{ grid-area: add; }
#subtract{ grid-area: subtract; }
#multiply{ grid-area: multiply; }
#divide{ grid-area: divide; }

#equals{ 
	grid-area: equals; 
	background-color: #ba3910;
}

#equals:active{
	background-color: white;
	color: black;
}

#clear{ 
	grid-area: clear; 
	background-color: #ac2020;
}

#clear:active {
	background-color: white;
}

#calctitle{ 
	grid-area: calctitle; 
	font-weight: thin;
	font-style: italic;
	color: #333;
	background-color: #222;
}

#calctitle:hover {
	cursor: default;
}

#calcFrame {
	height: 800px;
	width: 700px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% auto auto auto auto auto;
	grid-template-areas:
		"display display display display"
		"nine eight seven add"
		"six five four subtract"
		"three two one multiply"
		"zero decimal clear divide"
		"calctitle calctitle equals equals"
}


